.techstack {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.tech-icon {
    text-decoration: none;
    color: #572EEA;
    margin: 0 0.6% 0px 0.8%;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.tech-icon:hover {
    color: white;
}