 html {
     background: rgb(253, 187, 45);
     background: linear-gradient(0deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 46%);
 }

 body {
     background: rgb(253, 187, 45);
     background: linear-gradient(0deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 46%);
     height: 100%;
     margin-top: 6%;
 }

 h1 {
     font-size: 2rem;
     font-weight: 800;
     color: #572EEA;
 }

 p {
     font-size: 1.2rem;
     font-weight: 600;
 }

 .main-page {
     text-align: center;
     align-items: center;
 }

 .main-container {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .card-grid-container {
     padding: 12px;
     margin-top: 1rem;
     margin-bottom: 1rem;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
     justify-items: center;
     gap: 1rem;
 }

 .score {
     font-weight: 700;
     font-size: 1rem;
     color: #572EEA;
 }

 span {
     padding-left: 1%;
     padding-right: 2%;
 }

 @media (max-width: 768px) {
     .card-image {
         width: 100px;
         height: 100px;

     }

     .score {
         font-weight: 700;
         font-size: 0.7rem;
     }
 }